<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814016682091-clqmiqdgvdpopeg82vqnptqbo7e12d83.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814016682091-clqmiqdgvdpopeg82vqnptqbo7e12d83</string>
	<key>API_KEY</key>
	<string>AIzaSyAqkMpcF1kgye3MwWSx_FpipTD7aEBkf8U</string>
	<key>GCM_SENDER_ID</key>
	<string>814016682091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.commun.eos.ios</string>
	<key>PROJECT_ID</key>
	<string>commun-a7427</string>
	<key>STORAGE_BUCKET</key>
	<string>commun-a7427.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814016682091:ios:364fdea0d7c355f1fff92e</string>
	<key>DATABASE_URL</key>
	<string>https://commun-a7427.firebaseio.com</string>
</dict>
</plist>